@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}
