@import "tailwindcss";

:root {
  --black-sidebar: #2A2A2A;
  --black-header-btn: #403C3C;
  --black-header: #383838;
  --main-bg: #B6B6B6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}
